@model IEnumerable<ShoperiaDocumentation.Models.FolderModel>
@{
    var selectedSubRootName = ViewData["SelectedSubRootName"] as string;
}

@foreach (var folder in Model)
{
    var isSelected = folder.Name == selectedSubRootName;
    <a href="#" class="custom-text hover-custom-text @(isSelected ? "bg-gray-700" : "bg-gray-800")" onclick="loadSubCategories('@folder.Name')">
        <div class="p-8 rounded-lg">
            <span>@folder.Name</span>
        </div>
    </a>
}
