.bg-custom-dark {
    background-color: #13072E; /* Egyedi háttérszín */
}

.bg-custom-light {
    background-color: #18083C; /* Egyedi háttérszín */
}

.hover-custom-bg:hover {
    background-color: #1c1134; /* Hover állapotban egyedi háttérszín */
}

.hover-custom-text:hover {
    color: #ffffff; /* Hover állapotban egyedi szövegszín */
}
.file-explorer-item:nth-child(odd) {
    background-color: rgb(30, 27, 75); /* bg-indigo-950 */
}

.file-explorer-item:nth-child(even) {
    background-color: rgb(46, 43, 84); /* bg-indigo-850 */
}

#file-explorer-pathbar {
    font-family:monospace;
}
.file-tab {
    background-color: rgb(196 181 253);
    color: #13072E;
    padding: 0.2rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    user-select: none;
    transition: background-color 0.2s ease;
}
.file-tab-close {
    font-weight: bold;
    margin-left: 0.5rem;
    color: #13072E;
    transition: color 0.3s ease;
}
.file-tab-close:hover {
    color: #BA2C2C;
}

.file-tab.active-tab {
    background-color: white;
}

.bg-new {
    background-color: #9AFF64;
}
.text-new {
    color: #9AFF64;
}
.bg-modified {
    background-color:#649FFF;
}
.text-modified {
    color: #649FFF;
}