@model IEnumerable<ShoperiaDocumentation.Models.FolderModel>
@{
    var selectedRootName = ViewData["SelectedRootName"] as string;
}

@foreach (var folder in Model)
{
    var isSelected = folder.Name == selectedRootName;
    <a href="@Url.Action("Index", "ClassTree", new { path = folder.Name })" class="font-extrabold text-3xl text-white hover-custom-text uppercase @(isSelected ? "underline underline-offset-8" : "")">
        <div class="">
            <span>@folder.Name</span>
        </div>
    </a>
}
